.container-camera {
  position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 90%;
   margin-top: 2%;
   text-align: center;
}

.small-video {
  max-height: 100vh;
  min-width: 25vw;
  max-width: 50vw;
  object-fit: contain;
}

.inline{
  display: inline-block
}
