.container {
  width: 100%;
  height: 100%;
}

.section-menu {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.section-camera {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.button {
  color: white;
  background-color: blue;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
}

ul.links {
  padding-bottom: 10px;
}

.card-container {
  width: 100%;
}

.web-cam-container {
  text-align: center;
  display: flex;
  justify-content: center;
}
